@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}

.gradient-01 {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
  background: #ff133b;
  filter: blur(160px);
}

.gradient-02 {
  position: absolute;
  width: 300px;
  height: 200px;
  bottom:0;
  right: 0px; 
  background: #eeeeee;
  margin-top: 10px;
  filter: blur(160px)
}

.gradient-03 {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  right: 0px;
  background: #830bf3;
  filter: blur(150px)
}

.gradient-04 {
  position: absolute;
  width: 300px;
  height: 200px;
  bottom:0;
  left: 0px; 
  background: #01fff2;
  margin-top: 10px;
  filter: blur(140px)
}

.gradient-05 {
  position: absolute;
  width: 300px;
  height: 200px;
  background: #0b0c0c;
  filter: blur(140px)
}
